header {
    background: radial-gradient(rgb(216, 161, 42), #ae531a);;
    padding: 2rem 1rem;
    ul{
        li {
            align-self: baseline;

            h1{
                text-transform: uppercase;    
            }

            a{
                color: black;
                font-size: 1.4rem;
                padding: 0 .5rem;
                text-decoration: none;
                text-transform: uppercase;  
            }
        }
    }
}
